<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="silt.util.ColoredLoggerLevel" />
    
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %-30logger{30} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>
  
  <logger name="io.netty" level="INFO"  />
  <logger name="silt"     level="TRACE" />
  
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
